*{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

button:focus{outline: 0;}

body{
  margin: 20px auto;
  padding: 5px;
  max-width: 510px;
  background-color: #d167dd;
}

#start-select{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#start-select div{
  position: fixed;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  width: 350px;
  height: 300px;
  border-radius: 35px;
  background-color: #4d1853;
  box-shadow: 3px 3px 3px #291702;
}

#start-select div div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
}

#start-select div div h3{
  margin: auto;
  text-align: center;
  width: 100%;
}

#start-select div div span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#start-select div div button{
  background-color: #d28ced;
  border-radius: 8px;
  margin: 3px;
  padding: 15px;
  height: 50px;
  min-width: 55px;
  border: none;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

#start-select div div button:hover{
  background-color: #e54bdb;
  box-shadow: 0.5px 0.5px 5px #d28ced;
  cursor: pointer;
  -webkit-transition: background-color 300ms; /* Safari */
 transition: background-color 300ms;
}

#start-select div div button:active{
  border: 2px solid;
  background-color: #972363;
  padding: 13px;
  -webkit-transition: background-color 500ms; /* Safari */
 transition: background-color 500ms;
}

#start-select div div button.charBtn {
  min-width: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 6px;
}

header {
  display: flex;
  height: 110px;
  margin: 0 15px;
  opacity: 1;
 -webkit-transition: opacity 750ms; /* Safari */
 transition: opacity 750ms;
}

#emoji-outer-div{
  flex: 1;
  display: flex;
  align-items: center;
}

#emoji{
  width: 100px;
  height: 100px;
}

#emoji img{
  height: 100%;
}

#emoji-text{
  flex: 1;
  text-align: center;
  margin: 0 30px;
  font-size: 20px;
}
#aiTalk{
  font-family: cursive;
  font-weight: bold;
}

nav{
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
}

nav div{
  position: fixed;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  width: 310px;
  height: 350px;
  border-radius: 35px;
  background-color: #5A8BCE;
  box-shadow: 3px 3px 6px #63215a;

}

nav div div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
}

nav div div h3{
  margin: auto;
  text-align: center;
  width: 100%;
}

nav div div span{
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav div div button{
  background-color: #e54bdb;
  border-radius: 8px;
  margin: 3px;
  padding: 15px;
  height: 50px;
  min-width: 55px;
  border: none;
  -webkit-transition: background-color 750ms; /* Safari */
  transition: background-color 750ms;

}

nav div div button:hover {
  background-color: #c84ee0;
  box-shadow: 0.5px 0.5px 5px black;
  cursor: pointer; cursor: hand;
  -webkit-transition: background-color 300ms; /* Safari */
  transition: background-color 300ms;
 }

 nav div div button.active{

  border: 2px solid;
  background-color: #d167dd;
  padding: 13px;
  -webkit-transition: background-color 500ms; /* Safari */
 transition: background-color 500ms;

 }

 nav div div butto.chaBtn{
  min-width: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 6px;
 }

 #main-section{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  opacity: 1;
  -webkit-transition: opacity 500ms; /* Safari */
 transition: opacity 500ms;
}

#side-section {
 margin: 15px;
 }

 #menu-open div{
  margin: auto;
  text-align: center;
  width: 60px;
  border-radius: 10px;
  font-size: 35px;
  border: solid #8f4ab7;
  margin: 25px;
  padding: 2.5px;
  background-color: #532d57;
 }

 #menu-open div:hover{
  
 }
